@charset "UTF-8";

/* 共通部分 */
html {
  font-size: 100%;
}

body {
  font-weight: bold;
  font-family: Roboto;
  color: #432;
  line-height: 2.0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.wrapper {
  margin: 0 auto;
}

/* HEADER */
header {
  background-color: #1B1310;
  color: #FFF;
  display: flex;
  justify-content: space-between;
  padding: 0 120px;
}

.logo {
  font-size: 26px;
  font-weight: 550; /* medium */
  padding: 24px 0;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  font-size: 16px;
  font-weight: 550; /* medium */
  padding: 27px 0 26px 53px;
}

.fa-bars {
  display: none;
  padding: 27px 0 26px;
}

.hamburger__btn {
  display: none;
  margin: 24px 0;
  position: relative;
  width: 70px;
  height: 40px;
  cursor: pointer;
  z-index: 50;
}

.line {
  position: absolute;
  top: 0;
  left: 20px;
  width: 45px;
  height: 2px;
  background: #fff;
  text-align: center;
}

.line_01 {
  top: 16px;
  transition: 0.4s ease;
}

.line_02 {
  top: 26px;
  transition: 0.4s ease;
}

.line_03 {
  top: 36px;
  transition: 0.4s ease;
}

.btn_line01 {
  transform: translateY(10px) rotate(-45deg);
  transition: 0.4s ease;
}

.btn_line02 {
  transition: 0.4s ease;
  opacity: 0;
}

.btn_line03 {
  transform: translateY(-10px) rotate(45deg);
  transition: 0.4s ease;
}

.hamburger__menu-enter-active, .hamburger__menu-leave-active {
  transition: opacity 0.4s;
}

.hamburger__menu-enter, .hamburger__menu-leave-to {
  opacity: 0;
}

.hamburger__menu-leave, .hamburger__menu-enter-to{
  opacity: 1;
}

.hamburger__menu {
  background-color: #000;
  z-index: 30;
  padding: 2rem 1rem;
  position: fixed;
  width: 300px;
  height: 80rem;
  top: 0;
  left: 0;
}

.hamburger__menu ul {
  padding: 0;
  padding-top: 40px;
}

.hamburger__menu li {
  padding: 35px 0;
  list-style: none;
  line-height: 1;
}

.hamburger__menu a {
  color: #fff;
  text-decoration: none;
  font-size: 25px;
  margin: 0 4vw;
  padding-bottom: 8px;
}

/* TOP */
.top {
  background-image: url(../images/fv-bgi@2x.jpg);
  background-position: center top;
  background-size: cover;
  padding: 302px 0 495px;
  max-width: 100%;
}

.top h1 {
  border: 2px solid #fff;
  width: 449px;
  height: 136px;
  color: #fff;
  text-align: center;
  padding: 35px 42px 34px;
  margin: 0 auto;
  font-size: 50px;
  font-weight: 550; /* medium */
  line-height: normal; /* line-height: 2.0; でズレるため個別指定 */
}

/* MAIN */
.main {
  max-width: 1030px;
}

.main h2 {
  font-size: 36px;
  font-weight: 550; /* medium */
}

.main h3 {
  font-size: 24px;
  font-weight: 700; /* bold */
}

.main p {
  font-size: 14px;
  font-weight: 700; /* bold */
}

/* ABOUT */
.about h2 {
  padding-top: 100px;
  padding-bottom: 70px;
  margin: 0 auto;
  text-align: center;
}

.about h3 {
  margin-bottom: 40px;
}

.about p {
  margin-bottom: 50px;
}

/* SERVICE */
.service h2 {
  padding-top: 100px;
  padding-bottom: 70px;
  margin: 0 auto;
  text-align: center;
}

.content {
  display: flex;
  justify-content: center;
  gap: 70px;
  margin-bottom: 50px;
}

.content-text {
  width: 480px;
  margin: 17px 0 18px;
}

.content-text h3 {
  margin-bottom: 40px;
}

.img-order {
  order: 1;
}

.text-order {
  order: 2;
}

/* NEWS */
.news h2 {
  padding-top: 100px;
  padding-bottom: 70px;
  margin: 0 auto;
  text-align: center;
}

.news-list {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  gap: 34px;
}

.news-topic {
  width: 320px;
  height: 323px;
  box-shadow: 0 0 6px rgba(27,19,16,.40);
}

.news-topic p {
  padding: 25px 32px 25px 34px;
}

/* CONTACT */
.contact h2 {
  padding-top: 100px;
  padding-bottom: 70px;
  margin: 0 auto;
  text-align: center;
}

.contact form {
  width: 700px;
  margin: 0 auto;
}

.contact input[type="text"],input[type="tel"],input[type="email"] {
  width: 100%;
  border: 1px solid #141414;
  margin-bottom: 25px;
}

.contact textarea {
  width: 100%;
  height: 171px;
  border: 1px solid #141414;
  margin-bottom: 50px;
}

.contact input[type="submit"] {
  width: 235px;
  height: 59px;
  background-color: #1B1310;
  border-radius: 51px;
  color: #FFF;
  margin-bottom: 50px;
}

.btn {
  text-align: center;
}

/* FOOTER */
footer {
  background-color: #1B1310;
}

footer p {
  padding: 29px 0 31px;
  text-align: center;
  color: #fff;
}

footer small {
  font-size: 14px;
  font-weight: 400; /* normal */
}

@media (max-width: 414px) {
  .wrapper {
    padding: 0 15px;
  }

  /* HEADER */
  .hamburger__btn {
    display: block;
  }

  nav {
    display: none;
  }

  /* TOP */
  .top {
    height: 590px;
    margin: 0 auto;
  }

  .top h1 {
    width: 300px;
    height: 100px;
    font-size: 30px;
    padding: 30px 40px 30px 41px;
  }

  /* MAIN */
  .main {
    width: 100%;
  }

  /* SERVICE */
  .content {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .content-text {
    width: 100%;
  }

  .img-order {
    order: 2;
  }
  
  .text-order {
    order: 1;
  }

  /* NEWS */
  .news-list {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .news-topic {
    width: 90%;
    margin: 0 auto;
  }

  /* CONTACT */
  .contact form {
    width: 100%;
  }

}